body{
	background-color:#FAE1DF;
	font-family: 'Dancing Script', cursive;
	color: #FAE1DF;
}
.wrapper{
	text-align: center;
	background-color: #52489C;
	
}

.tagline{
	font-size: 36px;
}

.scoreKeeper{
	padding-bottom: 36px;
	font-size: 24px;
	margin-bottom: 4%;
	
}

.Modal-modal-0-1-3{
	padding: 2rem !important;
	background-color:#52489C !important;
}
